---
- name: Install wireguard-tools
  package:
    name: wireguard-tools
    state: present

- name: Get WireGuard keys from Vault
  set_fact:
    wg_keys: "{{ lookup('community.hashi_vault.hashi_vault', 'secret/data/wireguard/keys url=' ~ vault_addr ~ ' token=' ~ lookup('env', 'VAULT_TOKEN')) }}"
  no_log: true

- name: Get WireGuard config from Vault
  set_fact:
    wg_config: "{{ lookup('community.hashi_vault.hashi_vault', 'secret/data/wireguard/config url=' ~ vault_addr ~ ' token=' ~ lookup('env', 'VAULT_TOKEN')) }}"

- name: Template WireGuard config
  template:
    src: wg0.conf.j2
    dest: /etc/wireguard/wg0.conf
    owner: root
    group: root
    mode: "0600"
  notify: restart wireguard

- name: Enable IP forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    sysctl_file: /etc/sysctl.d/wg.conf
    reload: true

- name: Enable and start WireGuard
  systemd:
    name: wg-quick@wg0
    enabled: true
    state: started
    daemon_reload: true
