---
- name: Install HAProxy
  package:
    name: haproxy
    state: present

- name: Template HAProxy config
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: "0644"
  notify: restart haproxy

- name: Enable and start HAProxy
  systemd:
    name: haproxy
    enabled: true
    state: started
